# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
ios/Pods/
*.lock
*.log

# IDEs
.idea/
.vscode/
*.iml

# System
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite
*.sqlite3
backend/*.db
backend/*.sqlite
backend/*.sqlite3

# Python Virtual Environment
backend/venv/
venv/
ENV/
env/
